/*-- scss:defaults --*/

// Colors
$dark-aqua: #036280;
$light-grey: #E8EDE7;
$cream: #FDFBF7;
$light-aqua: #81BECE;
$dark-blue: #012E4A;
$mid-aqua: #378BA4;
//from https://colorpalettes.net/color-palette-4553/

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-aqua; // navbar foreground elements
$navbar-hl: $dark-blue; // highlight color when hovering over navbar links
$body-bg: $light-grey; // page background 
$body-color: $light-grey; // page text 
$footer-bg: $cream; // footer 
$link-color: $dark-aqua; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $dark-blue; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color